DB_HOST=logistics_base  #  имя сервиса в docker-compose.yaml
DB_PORT=5432  # Для Postgres стандартный
POSTGRES_DB=logistics_db  # название базы данных
POSTGRES_USER=admin  # хозяин базы данных
POSTGRES_PASSWORD=password1  # хозяйский пароль
SECRET_KEY=2e411-2e411-2e411-2e411  # ключ шифрования JWT-токенов и сессий
ALGORITHM=HS256  # алгоритм шифрования
ACCESS_TOKEN_EXPIRE_MINUTES=30  # длительность жизни токена в сессии
FIRST_SUPERUSER_EMAIL=email@yandex.ru
FIRST_SUPERUSER_PASSWORD=password2